.About {
    
    max-width: 2420px; 
    background: linear-gradient(to right, #fff6f8 , #d4344f32 );
    border-radius: 20px;
    position: relative;
    left: 4em;
    top: 50em;
    padding: 40px;
   
    text-align: center;
    direction: rtl; /* للتأكد من أن النص يظهر بشكل صحيح باللغة العربية */
  }
  
  .about-us-content{
      position: static;
      
      margin-left: 90em;
      
  }
  .About h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .About h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #278de9;

  }
  
  .About p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #555;
    font-weight: 600;
  }
  
  .About ul {
    list-style-type: none;
    padding: 0;
  }
  
  .About ul li {
    font-weight: 600;
    font-size: 1.2rem;
    color: #333;
    margin: 5px 0;
  }

  