.howItWork {
  position: relative;
  top: 13em;
  left: 40%;
  transform: translateX(-50%); /* لتوسيط العنصر */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
 
  
  
}

.heading h2 {
  font-size: 2em;
  margin-bottom: 2em;
}

.howItWork .cardCountinar {
  
  display: flex;
  flex-wrap: wrap;
  gap: 8em;
  justify-content: center; 
}

.howItWork .cardCountinar .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  background-color: #519bdc31;
  border-radius: 30px;
  padding: 10px 20px;
}

.howItWork .cardCountinar .card span {
  color: #278de9;
  font-size: 4em;
}
.howItWork .cardCountinar .card p {
  color: #000000;
  font-size: 20px;
  padding: 15px;
}