.home {
  position: static;
  margin-bottom: auto;
    border-radius: 5em;
    max-width: 2420px; 
    margin: auto; 
    width: 100%; 
    min-height: 850px; 
    display: flex; 
    align-items: center;
    
    background-image: url(/images/Background-home.png); 
    background-size: cover; 
    background-position: center left; 
    background-repeat: no-repeat; 
  
    /* إضافة Shadow Box */
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.3); 
  }
  .home .home-text{
    padding: 10px;
   margin-left: 10em;
    justify-items: center;
  }
  .home .home-text h1{
    border-radius: 25px;
    margin-bottom: 16px;
    padding: 10px 10px;
    color: #278de9;
    font-size: 1.9em;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.13); 
      background-color: rgba(220, 157, 157, 0.11);
  
  }
  .home .home-text p{
   font-size: 1.7em;

  }
  .home .home-text .button-box{
    margin-top: 20px;
    padding: 10px;
    justify-items: center;
    
  }
  .home .home-text .button-box .btn{
    padding: 10px;
    margin-left: 10px;
    margin-right: 2em;
    background-color: #278ee9f3;
    font-size: 1.4em;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.5); /* ظل خفيف */
    
  }

  .home .home-text .button-box .btn:hover {
    transition: 0.3s;
    transform: scale(1.4);
     background-color: #2962b3fe; /* لون عند التمرير */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.7); /* ظل أعمق عند التمرير */
  }
  