.howItWork{
    position: relative;
    top: -125em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}
.heading h2 { 
font-size: 2em;
    margin-right: 25em;
    margin-bottom: 2em;

}
.howItWork .cardCountinar{
  display: flex;
    flex-wrap: wrap;
    gap: 8em;
    margin-right: 50em;
}
.howItWork .cardCountinar .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); 
  background-color: #519bdc31;
  border-radius: 30px;
      padding: 10px 20px;
}
.howItWork .cardCountinar .card span{
  color: #278de9;
    font-size: 4em;
    
}