
.Services{
    margin-top: 65em;
    display: flex;
    flex-direction: column; /* يضمن الترتيب العمودي */
    align-items: center; /* إذا كنت تريد توسيط المحتوى أفقيًا */
    gap: 20px; /* لإضافة مسافة بين العناصر */
}
.serverice-continar{
display: flex;
flex-wrap: wrap;
gap: 10px;

}